In [1]:
a = 10
print (a)

10

In [2]:
type (8.5)

float

In [3]:
type (10)

int

4) Crear una variable que contenga tu nombre

In [4]:
nombre_1 = "Vanesa"

5) Crear una variable que contenga un número complejo

In [5]:
complejo_1 = 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type ( 5j)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
verdadero = " true"
verdadero1 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [9]:
type ( "true")
type ( True)

bool

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
suma_1 = 10 + 11.6

11) Realizar una operación de suma de números complejos

In [11]:
suma_2 = 11j + 14j

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
suma_3 = 29 + 11j

13) Realizar una operación de multiplicación

In [13]:
multi_1 = 10 * 2

14) Mostrar el resultado de elevar 2 a la octava potencia

In [14]:
elevar_1 = 2**8

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [15]:
coeficiente_1 = 27 % 4 
print (coeficiente_1)

3

16) De la división anterior solamente mostrar la parte entera

In [16]:
27 / 4

6.75

17) De la división de 27 entre 4 mostrar solamente el resto

In [17]:
print ( 27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [22]:
print (6.75 * 4  )

27.0

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [23]:
variables_1= "Vanesa"  
variables_2= "Milo"
print (variables_1+variables_2)

VanesaMilo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [25]:
2 == "2"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [28]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [29]:
a = float ( "3.8")

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [31]:
a = -3
a -= 1
print(a)

-4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [32]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado? Porque uno es numero entero y el otro un string

In [34]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [36]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite 3 veces