1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [3]:
mi_lista1 = ["Buenos Aires", "Madrid","Lisboa", "Porto", "New York","Bogota"]
print (mi_lista1)

['Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'New York', 'Bogota']

2) Imprimir por pantalla el segundo elemento de la lista

In [10]:
print (mi_lista1[1])

Madrid

3) Imprimir por pantalla del segundo al cuarto elemento

In [4]:
print (mi_lista1[1:4])

NameError: name 'mi_lista1' is not defined

4) Visualizar el tipo de dato de la lista

In [8]:
type (mi_lista1)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [11]:
print (mi_lista1 [2:])

['Porto', 'New York', 'Bogota']

6) Visualizar los primeros 4 elementos de la lista

In [12]:
print (mi_lista1 [0:4])

['Buenos Aires', 'Madrid', 'Lisboa', 'Porto']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [16]:
mi_lista1.append ("Buenos Aires")
mi_lista1.append ("California")
print (mi_lista1)

['Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'Braga', 'New York', 'Bogota', 'Naranja', 'Pomelo', 'Manzana', 'Buenos Aires', 'California']

8) Agregar otra ciudad, pero en la cuarta posición

In [14]:
mi_lista1.insert ( 4,"Braga")
print (mi_lista1)

['Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'Braga', 'New York', 'Bogota']

9) Concatenar otra lista a la ya creada

In [17]:
mi_lista1.extend (["Naranja", "Pomelo", "Manzana"])
print (mi_lista1)

['Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'Braga', 'New York', 'Bogota', 'Naranja', 'Pomelo', 'Manzana', 'Buenos Aires', 'California', 'Naranja', 'Pomelo', 'Manzana']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [19]:
print (mi_lista1 [10] )

Buenos Aires

11) ¿Qué pasa si se busca un elemento que no existe?

In [21]:
print (mi_lista1 ["Brasilia"])

TypeError: list indices must be integers or slices, not str

12) Eliminar un elemento de la lista

In [22]:
mi_lista1.remove ( "Braga")
print (mi_lista1)

['Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'New York', 'Bogota', 'Naranja', 'Pomelo', 'Manzana', 'Buenos Aires', 'California', 'Naranja', 'Pomelo', 'Manzana']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [23]:
mi_lista1.remove ( "brasilia")
print (mi_lista1)

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [24]:
ultimo=mi_lista1.pop ()
print (ultimo)

Manzana

15) Mostrar la lista multiplicada por 4

In [25]:
print (['Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'New York', 'Bogota', 'Naranja', 'Pomelo', 'Manzana', 'Buenos Aires', 'California', 'Naranja', 'Pomelo', 'Manzana']* 4)

['Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'New York', 'Bogota', 'Naranja', 'Pomelo', 'Manzana', 'Buenos Aires', 'California', 'Naranja', 'Pomelo', 'Manzana', 'Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'New York', 'Bogota', 'Naranja', 'Pomelo', 'Manzana', 'Buenos Aires', 'California', 'Naranja', 'Pomelo', 'Manzana', 'Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'New York', 'Bogota', 'Naranja', 'Pomelo', 'Manzana', 'Buenos Aires', 'California', 'Naranja', 'Pomelo', 'Manzana', 'Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'New York', 'Bogota', 'Naranja', 'Pomelo', 'Manzana', 'Buenos Aires', 'California', 'Naranja', 'Pomelo', 'Manzana']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [28]:
mi_tupla1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print (mi_tupla1)
mi_tupla2 = tuple (mi_tupla1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

17) Imprimir desde el índice 10 al 15 de la tupla

In [29]:
print (mi_tupla2 [10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [31]:
20 in mi_tupla2

True

In [32]:
30 in mi_tupla2

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [33]:
"paris" in mi_lista1

False

In [34]:
mi_lista1.append ("Paris")
print (mi_lista1)

['Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'New York', 'Bogota', 'Naranja', 'Pomelo', 'Manzana', 'Buenos Aires', 'California', 'Naranja', 'Pomelo', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [35]:
mi_lista1.count ("buenos Aires")

0

In [36]:
mi_tupla2.count ( 2)

1

21) Convertir la tupla en una lista

In [38]:
mi_lista3 = list (mi_tupla2)
print (mi_lista3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [11]:
mi_tupla2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
v1, v2, v3, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _ = mi_tupla2
print(v1)
print(v2)
print(v3)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [40]:
dicc = {  "pais" : mi_lista1,
          "ciudad":['Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'New York', 'Bogota'],
          "Continente":['Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'New York', 'Bogota'] }

24) Imprimir las claves del diccionario

In [47]:
print (dicc.keys () )

dict_keys(['pais', 'ciudad', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [46]:
print (dicc ["ciudad"])

['Buenos Aires', 'Madrid', 'Lisboa', 'Porto', 'New York', 'Bogota']

In [1]:
listab = [5,4,9,2]

for elemento in listab:
    print (elemento)

5
4
9
2